.button {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-background-radius: 8px;
    -fx-border-color: #bcbcbc;
    -fx-border-radius: 8px;
    -fx-pref-width: 70px;
    -fx-pref-height: 55px;
}

.button:pressed {
    -fx-background-color: #c0c0c0;
}
