<h3 class="mt-4">Mostrar</h3>

<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (item of tareas; track $index) {
    <div class="col">
      <div class="card">
        <img [src]="item.prioridad |imagenes" class="card-img-top mb-3" alt="Imagen de tarea">
        <div class="card-body"></div>
        <h5 class="card-title">{{ item.nombre | uppercase }}</h5>
        <p class="card-text"><strong>Responsable:</strong> {{ item.responsable }}</p>
        <ul class="list-group">
          @for (item of item.items; track $index) {
              <li class="list-group-item"><strong>item:</strong> {{ item }}</li>
          }
        </ul>
        <p>{{item.fecha | date}}</p>
      </div>
    </div>
  }
  </div>


<div *ngIf="tareas.length === 0" class="alert alert-info mt-4">
  <i class="bi bi-info-circle"></i> No hay tareas disponibles.
</div>