<h2>Buscar Examen Por nota</h2>
<div class="row">
  <div class="col">
<select class="form-select" [(ngModel)]="nota">
  <option value="">Selecciona una nota</option>
  <option value="0">0</option>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
  </div>
  <div class="col">
<button class="btn btn-primary w-100" (click)="realizarBusqueda()">Buscar Notas</button>

@if (busqueda) {
  <p class="alert alert-primary">Encontradas {{ filtradas.length }}</p>
}

<div class="row row-cols-1 row-cols-md-4 g-4">
  @for (data of filtradas; track $index) {
    <app-carta [item]="data"></app-carta>
  }
  </div>
</div>
