<h3 class="mt-4">Agregar tareas</h3>
<input type="text" class="form-control mt-4" 
       placeholder="Introduce un nombre de la tarea" 
       [(ngModel)]="nombre">
<input type="date" class="form-control mt-4" 
       [(ngModel)]="fecha">
<input type="text" class="form-control mt-4" 
       placeholder="Introduce el nombre del responsable" 
       [(ngModel)]="responsable">
<input type="text" class="form-control mt-4" 
       placeholder="Introduce los items" 
       [(ngModel)]="items">
<select name="prioridad" id="prioridadSelect" [(ngModel)]="prioridad" class="form-select mt-4">
  <option value="" disabled selected>Selecciona la prioridad</option>
  <option value="Baja">Baja</option>
  <option value="Media">Media</option>
  <option value="Alta">Alta</option>
</select>
<div class="form-check mt-4">
  <input class="form-check-input" type="checkbox" id="completadaCheck" 
         [(ngModel)]="completada">
  <label class="form-check-label" for="completadaCheck">
    Tarea completada
  </label>
</div>
<button class="btn btn-primary mt-4" (click)="agregarTarea()">
  Agregar Tarea
</button>
<div class="mt-4">
  <div *ngIf="!nombre || !fecha || !responsable || !items || !completada" 
       class="alert alert-warning">
    <i class="bi bi-exclamation-triangle"></i> Complete todos los campos
  </div>
  
  <div *ngIf="nombre && fecha && responsable && items && completada" class="alert alert-success">
    <i class="bi bi-check-circle"></i> Formulario completo
  </div>
</div>


